<main>
  <h2>MaIN Component</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate laudantium asperiores animi voluptates reiciendis quas rem quam? Consectetur et tempora aliquid, harum sint, temporibus saepe dolore neque illo qui dicta!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate laudantium asperiores animi voluptates reiciendis quas rem quam? Consectetur et tempora aliquid, harum sint, temporibus saepe dolore neque illo qui dicta!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate laudantium asperiores animi voluptates reiciendis quas rem quam? Consectetur et tempora aliquid, harum sint, temporibus saepe dolore neque illo qui dicta!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate laudantium asperiores animi voluptates reiciendis quas rem quam? Consectetur et tempora aliquid, harum sint, temporibus saepe dolore neque illo qui dicta!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate laudantium asperiores animi voluptates reiciendis quas rem quam? Consectetur et tempora aliquid, harum sint, temporibus saepe dolore neque illo qui dicta!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate laudantium asperiores animi voluptates reiciendis quas rem quam? Consectetur et tempora aliquid, harum sint, temporibus saepe dolore neque illo qui dicta!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate laudantium asperiores animi voluptates reiciendis quas rem quam? Consectetur et tempora aliquid, harum sint, temporibus saepe dolore neque illo qui dicta!</p>
</main>
