<header>
  <h1>
    <a routerLink="" routerLinkActive="link-ativo">
      Home
    </a>
  </h1>
  <button type="button" (click)="teste()">Ocultar footer</button>
  <a routerLink="login" routerLinkActive="link-ativo">Login</a>
</header>

<ng-content></ng-content>

<footer *ngIf="footer">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, molestiae deleniti. Aliquam temporibus ducimus
    rem quae veritatis harum, nobis earum quas nesciunt, suscipit quisquam dolorum inventore commodi odio quia
    laudantium.</p>

</footer>
